DLLRemoteDemoTestHarness/Service References/DLLRemoteServiceReference/DLLRemoteWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DLLRemoteWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39777/DLLRemoteWebService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39777/DLLRemoteWebService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39777/DLLRemoteWebService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CommonTypes" />
      <xsd:import schemaLocation="http://localhost:39777/DLLRemoteWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_GetRegisteredDLLs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredDLLs" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetRegisteredDLLs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisteredDLLsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDLLFunctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDLLFunctions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDLLFunctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDLLFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetLibraryInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryInformation" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetLibraryInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_ExecuteMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteMethod" />
  </wsdl:message>
  <wsdl:message name="IWebService_ExecuteMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="GetRegisteredDLLs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetRegisteredDLLs" message="tns:IWebService_GetRegisteredDLLs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetRegisteredDLLsResponse" message="tns:IWebService_GetRegisteredDLLs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDLLFunctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetDLLFunctions" message="tns:IWebService_GetDLLFunctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetDLLFunctionsResponse" message="tns:IWebService_GetDLLFunctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetLibraryInformation" message="tns:IWebService_GetLibraryInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetLibraryInformationResponse" message="tns:IWebService_GetLibraryInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/ExecuteMethod" message="tns:IWebService_ExecuteMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/ExecuteMethodResponse" message="tns:IWebService_ExecuteMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebService" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegisteredDLLs">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetRegisteredDLLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDLLFunctions">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetDLLFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibraryInformation">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetLibraryInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteMethod">
      <soap:operation soapAction="http://tempuri.org/IWebService/ExecuteMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DLLRemoteWebService">
    <wsdl:port name="BasicHttpBinding_IWebService" binding="tns:BasicHttpBinding_IWebService">
      <soap:address location="http://localhost:39777/DLLRemoteWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>